<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h2 style="background-color: #03989e; margin: 0; color: #FFFFFF; text-align: center;">Usted a solicitado una recuperación de contraseña.</h2>
    <h3 style="border-right: 2px solid #000000;
    border-left: 2px solid #000000;
    border-top: 2px solid #000000;
    background-color: #d9d9d9;
    margin-top: 35px;
    margin-bottom: 0; margin-left: 50px; margin-right: 50px;  text-align: center;">Su nueva contraseña es la siguiente:</h3>
    <h3 style="margin-left: 50px;
    margin-right: 50px;
    margin-top: 0; margin-bottom: 0; border: 2px solid #000000; text-align: center;">{{nContra}}</h3>
    <h4 style="margin-left: 50px; color: #03989e;">*Una vez que haya ingresado a la aplicación con esta contraseña, se le recomienda cambiar su contraseña.</h4>
</body>
</html>