<!DOCTYPE html>
<html lang="es">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/estilo.css">
    <link rel="stylesheet" href="../static/bootstrap.min.css" type="text/css">
    <script src="../static/bootstrap.min.js"></script>
    <title>{% block titulo %} {% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="../static/img/Logo_3_Ico.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
    {% block imports_extras%}{%endblock%}
</head>
<div class="container-fluid">
    <header class="row">
        <nav class="navbar navbar-expand-lg navbar-dark es-navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{url_for('index')}}"><img class="img-logo" src="../static/img/Logo_transparente.png" alt="Logo RyM"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" style="margin-right: auto;" id="navbarTogglerDemo02">
                    {% block sesion %}{% endblock %}
                </div>
            </div>
        </nav>
    </header>
    <body>
        <main>
            {% block mensajes_flash %}{% endblock %}
            {% block cuerpo%}{% endblock %}
        </main>
    </body>
    <div class="row bgc-grisest">
        <footer class="d-flex flex-wrap justify-content-between py-2 my-3 align-items-center bor-top">
            <div class="col-md-4"></div>
            <div class="col-md-4 d-flex align-items-center justify-content-center">
                    <img src="../static/img/logo_footer.png" class="img-footer" alt="Logo RyM">
            </div>
            <div class="col-md-4"></div>
        </footer>
    </div>
</div>
</html>