{% extends 'layout.html' %}
{% block titulo %}RyM (proveedor){% endblock %}
{% block imports_extras%} <script src="../static/js/validacion_modifi_servicio.js"></script> {%endblock%}

{% block sesion %}
<div class="me-auto"></div>
<div class="d-flex">
    <div class="btn-group bnavbar">
        <button type="button" class="btn btn-drops">Mi sesión</button>
        <button type="button" class="btn btn-drops dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{url_for('modificar_info_p')}}">Modificar información</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{url_for('cerrar_sesion')}}">Cerrar sesión</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block cuerpo %}
<div class="container-lg contenedor-modi-servicio" id="formulario-modi-servicio">
    <!--FORM PARA MODIFICAR LA INFORMACION DEL SERVICIO-->
    <form action="/modificar-info-servicio" id="form-modi-info-serv" class="row" method="post">
        <h3 class="titcolor-azest">Modificar la información del servicio:</h3>
        <input type="hidden" name="input_id_servicio" value="{{idServicio}}">
        <div class="form-floating">
            <input class="form-control" name="input_nom" type="text" value="{{miServicio[0]}}" placeholder="Nombre del servicio" id="f_nom_serv" required>
            <label for="f_nom_serv">Nombre del servicio</label>
        </div>
        <div class="mensaje-val" id="msj-nom-noval">El campo no debe estar vacío y NO debe contener números.</div>
        <div class="mb-3">
            <label for="f_desc_serv">Descripción del servicio:</label>
            <textarea class="form-control" placeholder="Escriba la descripción..."  autocomplete="off" name="input_desc" id="f_desc_serv" required>{{miServicio[1]}}</textarea>
        </div>
        <div class="mensaje-val" id="msj-desc-noval">El campo no debe estar vacío y NO debe contener números.</div>

        <div class="row my-2">
            <div class="col-md">
                <button type="submit" class="btn btn-estandar">Modificar servicio</button>
                <div class="mensaje-val" id="msj-form1">Debe modificar los datos deseados y validar que todos los campos estén correctos.</div>
            </div>
        </div>
    </form>

    <div>
        <h3 class="titcolor-azest">Modifique sus imagenes del servicio:</h3>
            {% if imgs %}
                <div class="contenido-cards contenedor-imgs-servicio">
                    {% for img in imgs %}
                    <div class="card m-2" style="width: 18rem;">
                        <img src="{{img[1]}}" class="card-img-top" alt="">
                        <div class="card-body text-center">
                            <form action="/eliminar-img-servicio" method="post">
                                <input name="input_id_img" type="hidden" value="{{img[0]}}">
                                <button type="submit" class="btn btn-estandar ">Eliminar imagen</button>
                            </form>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="contenedor-sin-imgs-servicio">
                    <h3 class="py-2 text-center">No tiene imágenes guardadas de este servicio.</h3>
                    <h4 class="py-2 text-center">Se le recomienda agregar imágenes.</h4>
                </div>
            {% endif %}

        <form action="/agregar-img-servicio" class="row" method="post" enctype="multipart/form-data">
            <input type="hidden" name="input_id_servicio" value="{{idServicio}}">
            <div class="col-md">
                <label for="f_img_serv" class="form-label titcolor-azest">Agregue más fotos de su servicio:</label>
                <div style="font-size: small;">*Se requiere de al menos una foto</div>
                <input class="form-control" name="input_imgs" type="file" accept="image/*" id="f_img_serv" multiple min="1" required>
                <button type="submit" class="btn btn-estandar my-2">Agregar imagen</button>
            </div>
        </form>

    </div>

    <div class="row my-2">
        <div class="col-md text-center">
            <a href="{{url_for('mis_servicios')}}"><button class="btn btn-estandar2">Regresar a mis servicios</button></a>
        </div>
    </div>
</div>
{% endblock %}